@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  background-color: #121617;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: Poppins;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  padding: 0 185px 0 147px;
  margin-bottom: 61px;
}
.logo-section {
  display: flex;
  align-items: center;
  gap: 9px;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.nav-button {
  border-radius: 24px;
  padding: 9px 24px;
  background-color: #f4511f;
}
.hero-section {
  display: flex;
  justify-content: center;
  padding: 0 209px 0 159px;
  gap: 78px;
}
.dish-container {
  max-width: 230px;
  text-align: right;
}
.dish-name {
  font-size: 14px;
  padding-left: 68px;
}
.dish-description {
  font-size: 13px;
  color: #dad8d7;
}
.right {
  max-width: 411px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.hero-title {
  font-size: 20px;
  margin-top: 30px;
}
.hero-text {
  font-size: 64px;
  line-height: 70px;
}
.hero-subtext {
  margin: 34px 0 42px 0;
  color: #dad8d7;
}
.hero-button,
.about-button {
  padding: 17px 28px;
  border-radius: 8px;
  background-color: #f4511f;
  max-width: 141px;
}
.shapes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 85px;
  margin-bottom: 121px;
}
.rectangle {
  width: 24px;
  height: 5px;
  background-color: #fff;
  border-radius: 8px;
}
.square {
  width: 5px;
  height: 5px;
  background-color: #fff;
}
.left .square {
  position: relative;
  left: 230px;
  bottom: 10px;
  width: 8px;
  height: 8px;
}
.services-section .title {
  font-size: 36px;
  text-align: center;
}
.services-data {
  margin: 70px 208px 110px 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.service-title {
  font-size: 19px;
}
.service-description,
.about-description {
  color: #dad8d7;
}
.delivery {
  padding-top: 10px;
}
.about {
  display: flex;
  gap: 153px;
  justify-content: center;
  margin: 0 186px 184px 152px;
}
.about-left {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.about-title {
  font-size: 36px;
  margin: 59px 0 12px 0;
}
.about-description {
  max-width: 395px;
}
button {
  border: 0;
}
