@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  background-color: #121617;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: Poppins;
}
body {
  margin: 0 8% 0 8%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-bottom: 61px;
}
.logo-section {
  display: flex;
  align-items: center;
  gap: 9px;
}
.navbar {
  display: flex;
  align-items: center;
  gap: 48px;
}
.nav-button {
  border-radius: 24px;
  padding: 9px 24px;
  background-color: #f4511f;
}
.hero-section {
  display: flex;
  gap: 78px;
  justify-content: center;
}
.dish-container {
  max-width: 22%;
  text-align: right;
  margin-top: 16px;
}
.dish-name {
  font-size: 14px;
  padding-left: 68px;
}
.dish-description {
  font-size: 13px;
  color: #dad8d7;
}
.left {
  flex-basis: 50%;
}
.right {
  flex-basis: 30%;
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.hero-title {
  font-size: 20px;
  margin-top: 30px;
}
.hero-text {
  font-size: 64px;
  line-height: 70px;
}
.hero-subtext {
  margin: 34px 0 42px 0;
  color: #dad8d7;
}
.hero-button,
.about-button,
.discount-button {
  padding: 17px 28px;
  border-radius: 8px;
  background-color: #f4511f;
  max-width: fit-content;
}
.shapes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 85px;
  margin-bottom: 121px;
}
.rectangle {
  width: 24px;
  height: 5px;
  background-color: #fff;
  border-radius: 8px;
}
.square {
  width: 5px;
  height: 5px;
  background-color: #fff;
}
.left .square {
  position: relative;
  left: 26%;
  width: 8px;
  height: 8px;
}
.services-section .title {
  font-size: 36px;
  text-align: center;
}
.services-data {
  margin: 70px 0 110px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.service-title {
  font-size: 19px;
}
.service-description,
.about-description {
  color: #dad8d7;
}
.delivery {
  padding-top: 10px;
}
.about {
  display: flex;
  gap: 153px;
  justify-content: center;
  margin-bottom: 168px;
}
.about-left {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.about-title {
  font-size: 36px;
  margin: 59px 0 12px 0;
}
.about-description {
  max-width: 395px;
}
button {
  border: 0;
}
.menu-section {
  margin-bottom: 225px;
}
.menu-title,
.arrivals-title {
  font-size: 36px;
  text-align: center;
  padding-bottom: 80px;
}
.menu-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 100px;
}
.item-name {
  font-size: 20px;
  margin-top: 20px;
}
.item-category {
  font-size: 12px;
  margin-bottom: 11px;
}
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discount-section {
  display: flex;
  justify-content: center;
  gap: 116px;
  margin-bottom: 220px;
}
.discount-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.discount-info {
  font-size: 24px;
  text-align: center;
}
.discount-button {
  margin-top: 30px;
}
.arrivals-section {
  margin-bottom: 152px;
}
