@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  background-color: #121617;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: Poppins;
}
a {
  text-decoration: none;
}
body {
  margin: 0 8% 0 8%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-bottom: 60px;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 8px;
}
.navbar {
  display: flex;
  align-items: center;
  gap: 48px;
}
.nav-button {
  border-radius: 24px;
  padding: 8px 24px;
  background-color: #f4511f;
}
.hero-section {
  display: flex;
  gap: 80px;
  justify-content: center;
}
.dish-container {
  max-width: 30%;
  text-align: right;
  margin-top: 16px;
}
.dish-name {
  font-size: 14px;
  padding-left: 68px;
}
.dish-description {
  font-size: 13px;
  color: #dad8d7;
}
.left {
  flex-basis: 50%;
}
.right {
  flex-basis: 30%;
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.hero-title {
  font-size: 20px;
  margin-top: 30px;
}
.hero-text {
  font-size: 64px;
  line-height: 70px;
}
.hero-subtext {
  margin: 32px 0 40px 0;
  color: #dad8d7;
}
.hero-button,
.about-button,
.discount-button,
.news-button {
  padding: 18px 28px;
  border-radius: 8px;
  background-color: #f4511f;
  max-width: fit-content;
}
.shapes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 84px;
  margin-bottom: 121px;
}
.rectangle {
  width: 24px;
  height: 5px;
  background-color: #fff;
  border-radius: 8px;
}
.square {
  width: 5px;
  height: 5px;
  background-color: #fff;
}
.left .square {
  position: relative;
  left: 29%;
  width: 8px;
  height: 8px;
}
.services-section .title {
  font-size: 36px;
  text-align: center;
}
.services-data {
  margin: 72px 0 112px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.service-title {
  font-size: 19px;
}
.service-description,
.about-description {
  color: #dad8d7;
}
.delivery {
  padding-top: 10px;
}
.about {
  display: flex;
  gap: 152px;
  justify-content: center;
  margin-bottom: 168px;
}
.about-left {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.about-title {
  font-size: 36px;
  margin: 60px 0 12px 0;
}
.about-description {
  max-width: 396px;
}
button {
  border: 0;
}
.menu-section {
  margin-bottom: 224px;
}
.menu-title,
.arrivals-title {
  font-size: 36px;
  text-align: center;
  padding-bottom: 80px;
}
.menu-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 60%;
  margin: 0 auto;
  align-items: center;
  row-gap: 100px;
}
.item-name {
  font-size: 20px;
  margin-top: 20px;
}
.item-category {
  font-size: 12px;
  margin-bottom: 12px;
}
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new-tag {
  padding: 4px 8px;
  background-color: #f4511f;
  border-radius: 4px;
  align-self: self-start;
  font-size: 13px;
}
.premium-image {
  width: 132px;
  height: 132px;
}
.cart-image {
  border-radius: 4px 4px 12px 4px;
  background-color: #f4511f;
  padding: 8px 8px 4px 4px;
  position: relative;
  bottom: 20px;
  left: 130px;
}

.discount-section {
  display: flex;
  justify-content: center;
  gap: 116px;
  margin-bottom: 220px;
}
.discount-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.discount-info {
  font-size: 24px;
  text-align: center;
}
.discount-button {
  margin-top: 30px;
}
.arrivals-section {
  margin-bottom: 152px;
}
.news-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 148px 0 160px 0;
}
.news-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 48px;
}
.news-description {
  text-align: center;
}
.news-button {
  margin-top: 40px;
}
footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 112px;
}
.footer-logo {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 18px;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-menu-title {
  font-size: 20px;
  margin-bottom: 8px;
}
.footer-submenu {
  color: #dad8d7;
  font-size: 14px;
}
.footer-logo img {
  padding-bottom: 2px;
}
.copyright-text {
  font-size: 12px;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1px) and (max-width: 460px) {
  .logo-section p {
    display: none;
  }
  body {
    margin: 0 4%;
  }
  .hero-section {
    flex-direction: column;
  }
  .navbar {
    gap: 22px;
  }
  .navbar button {
    font-size: 16px;
  }
  .arrivals-section .menu-list {
    grid-template-columns: 1fr;
    max-width: 75%;
  }
  .about .about-right {
    display: none;
  }
  .dish-container {
    max-width: 44%;
  }
  .left .square {
    left: 42.5%;
  }
  .right {
    flex-basis: 50%;
  }
  .left img {
    flex-shrink: 0;
  }
  .hero-text {
    font-size: 58px;
  }
  .menu-section .menu-list {
    grid-template-columns: 1fr;
  }
  .item-name {
    font-size: 28px;
  }
  .menu-list .item-name {
    font-size: 26px;
  }
  .menu-list .item-category {
    font-size: 18px;
  }
  .menu-list .premium-image {
    width: 260px;
    height: 260px;
  }
  .menu-list .cart-image {
    width: 40px;
    left: 140px;
  }
  .discount-section {
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-bottom: 160px;
  }
  .discount-section img {
    width: 350px;
    height: 350px;
  }
  body button {
    font-size: 20px;
  }
  .dish-container {
    max-width: 44%;
  }
  .left .square {
    left: 42.5%;
  }
  .about .about-description {
    font-size: 18px;
  }
  body .menu-section {
    margin-bottom: 170px;
  }
  .menu-list .new-tag {
    font-size: 18px;
  }
  .news-section .news-description {
    font-size: 18px;
  }
  .dish-name {
    font-size: 18px;
  }
  .right,
  .about-left,
  .footer-menu {
    align-items: center;
  }
  .service-description,
  .hero-subtext {
    font-size: 17px;
  }
  .dish-description {
    font-size: 16px;
  }
  .services-section .services-data {
    flex-direction: column;
  }
  .service-item .service-title {
    font-size: 21px;
  }
  .copyright-text {
    font-size: 14px;
  }
  footer {
    flex-direction: column;
    gap: 30px;
  }
  .footer-logo {
    justify-content: center;
  }
}
@media (max-width: 1280px) and (min-width: 461px) {
  .menu-section .menu-list {
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
  }
  .item-name {
    font-size: 28px;
  }
  .about img {
    width: 300px;
  }
  body {
    margin: 0 4% 0 4%;
  }
  .hero-text {
    font-size: 48px;
    line-height: 50px;
  }
  .about {
    gap: 4px;
    align-items: center;
  }
  .arrivals-section .menu-list {
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
  }
  .menu-list .item-name {
    font-size: 26px;
  }
  .menu-list .item-category {
    font-size: 18px;
  }
  .menu-list .premium-image {
    width: 200px;
    height: 200px;
  }
  .menu-list .cart-image {
    width: 40px;
    left: 150px;
  }
  .navbar {
    gap: 34px;
  }
  body button {
    font-size: 18px;
  }
  .dish-container {
    max-width: 44%;
  }
  .left .square {
    left: 42.5%;
  }
  .right {
    flex-basis: 50%;
  }
  .left img {
    width: 360px;
  }
  .about .about-description {
    font-size: 18px;
  }
  body .menu-section {
    margin-bottom: 170px;
  }
  .menu-list .new-tag {
    font-size: 18px;
  }
  .news-section .news-description {
    font-size: 22px;
  }
  .services-data {
    flex-wrap: wrap;
  }
  .service-description {
    font-size: 17px;
  }
  .service-item .service-title {
    font-size: 21px;
  }
  .discount-section {
    margin-bottom: 176px;
  }
}
